# .streamlit/secrets.toml

[connections.gsheets]
spreadsheet = "https://docs.google.com/spreadsheets/d/111nDe7ePRJaJ1TpSBkEK87sae92dNLLZUNaWCPyLZrI/edit?gid=0#gid=0"

# From your JSON key file
type = "service_account"
project_id = "xxx"
private_key_id = "xxx"
private_key = "0c5ad93a8347e0f08f419e429898df28fdff2840	"
client_email = "svc-acc@t1d-track.iam.gserviceaccount.com"
client_id = "117524683830400042864 "
auth_uri = "https://accounts.google.com/o/oauth2/auth"
token_uri = "https://oauth2.googleapis.com/token"
auth_provider_x509_cert_url = "https://www.googleapis.com/oauth2/v1/certs"
client_x509_cert_url = "xxx"
